
:host {
    display: flex;
}

.board-contents {
    @border-color: black;
    @border-width: 1px;

    display: grid;
    background-color: @border-color;
    grid-gap: @border-width;
    border: @border-width solid @border-color;
}
