<div class="board-contents">
    <ng-container *ngFor="let rowOfBoxes of puzzle.boxes; let rowIndex = index">
        <hg-crossword-box
            *ngFor="let box of rowOfBoxes; let columnIndex = index"
            [box]="box"
            [style.grid-column]="columnIndex + 1"
        ></hg-crossword-box>
    </ng-container>
</div>
