<hg-input
    [value]="name | pache"
    [placeholder]="'Your name'"
    (valueChange)="setPlayerName($event)"
></hg-input>
<hg-input
    [value]="roomCode"
    [placeholder]="'Room code'"
    (valueChange)="roomCode = $event"
></hg-input>
<div (click)="join()">join</div>
