:host {
    // Make the room width shrink with the window, and the game board will become scrollable
	flex-shrink: 1;
    min-width: 0;
}

.players {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

.error-loading-puzzle {
    color: red;
}
