<div class="players">
    <span>Players</span>
    <ul>
        <li
            *ngFor="let player of room.players.valuesPache | pache"
            class="player"
        >
            {{player.name | pache}}
        </li>
    </ul>
    <button (click)="leaveRoom()">Leave Room</button>
</div>
<hg-crossword-game
    *ngIf="room.game | pache; let puzzle; else errorLoadingGameTemplate"
    [puzzle]="puzzle"
></hg-crossword-game>
<ng-template #errorLoadingGameTemplate>
    <span class="error-loading-puzzle">There was an error loading the puzzle</span>
</ng-template>
