:host {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
}

:host(.hg-crossword-box-entry){
    background-color: white;
}

.no-text-select() {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.box-number {
    position: relative;
    padding: 0px 2px;
    font-size: 12px;
    height: min-content;

    pointer-events: none;
    .no-text-select();
}

.no-text-input-styling() {
    overflow: auto;
    border-style: none; 
    border-color: transparent; 
    outline-style: none;
    outline-color: transparent;
}

.letter-input {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px; // Turn off default user-agent padding
    padding-top: 8px;
    border-radius: 0px; // iOS Safari given inputs a border-radius

    .no-text-input-styling();
    font-size: 24px;
    text-align: center;
    caret-color: transparent;

    &:focus {
        .no-text-input-styling();
        background-color: #D1E8F3;
        font-size: 24px;
    }

    &:focus-visible {
        .no-text-input-styling();
        font-size: 24px;
    }

    &::selection {
        background: transparent;        
    }

    .no-text-select(); // necessary for iOS safari which does not support ::selection
}

.presence-outline {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 2px solid green;
    pointer-events: none;
}
