:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
}

.copyright {
    margin-bottom: 16px;
}

hg-crossword-board {
    align-self: normal;
    overflow: scroll;
}